useDynLib(MaxWin, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, setNames)

export(default_win_scenarios)
export(endpoint_binary)
export(endpoint_continuous)
export(endpoint_count)
export(endpoint_time)
export(engine_control)
export(generate_win_dataset)
export(generate_win_scenario_dataset)
export(method_control)
export(permutation_control)
export(plot_win_km)
export(plot_win_pvalues)
export(plot_win_simulation_gain)
export(plot_win_simulation_power)
export(plot_win_simulation_scenario_gain)
export(plot_win_ties)
export(preview_win_plan)
export(run_win_simulation)
export(save_win_plots)
export(save_win_simulation_plots)
export(threshold_control)
export(weight_control)
export(win_analysis)
export(win_data)
export(write_win_results)
export(write_win_simulation_results)

S3method(as.data.frame,win_analysis)
S3method(as.data.frame,win_simulation)
S3method(plot,win_analysis)
S3method(plot,win_simulation)
S3method(print,win_analysis)
S3method(print,win_simulated_dataset)
S3method(print,win_simulation)
S3method(summary,win_analysis)
S3method(summary,win_simulation)

